<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../../../">
  <title data-ice="title">strip-types/test/javascript/component/base/test.base-controller.js | Jobandtalent API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
<link data-ice="userStyle" rel="stylesheet" href="user/css/0-styles.css">
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  <a href="./manual/index.html" data-ice="manualHeaderLink">Manual</a>
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  <a href="test.html" data-ice="testLink">Test</a><a href="../js-unit-tests.html">Unit tests</a>
  <a data-ice="repoURL" href="https://github.com/jobandtalent/nevada" class="repo-url-github">Repository</a>
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/clone-object.js~CloneObject.html">CloneObject</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/cookie-storage.js~CookieStorage.html">CookieStorage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/environment.js~Environment.html">Environment</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/module-naming.js~ModuleNaming.html">ModuleNaming</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-ERBTemplating">ERBTemplating</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/component/base</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/component/base/base-controller-view.js~BaseControllerView.html">BaseControllerView</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/component/base/base-controller.js~BaseController.html">BaseController</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/component/base/event-actions.js~EventActions.html">EventActions</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-DocumentEvents">DocumentEvents</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-ElementEvents">ElementEvents</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/dom</div><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-$">$</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/test-framework</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-util.js~DOMUtil.html">DOMUtil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/inject.js~Inject.html">Inject</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/mock.js~Mock.html">Mock</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/modulejs.js~ModuleJS.html">ModuleJS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/proxy-spy-handler.js~ProxySpyHandler.html">ProxySpyHandler</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/spy.js~Spy.html">Spy</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/test-framework/dom-mutation</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/factory.js~DOMMutationFactory.html">DOMMutationFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/mutation-base.js~DOMMutationBase.html">DOMMutationBase</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/mutation-events.js~DOMMutationEvents.html">DOMMutationEvents</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/mutation-observer.js~DOMMutationObserver.html">DOMMutationObserver</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">strip-types/test/javascript/component/base/test.base-controller.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">&apos;use strict&apos;;

import assert from &apos;assert&apos;;
import jsdom from &apos;mocha-jsdom&apos;;
import Spy from &apos;../../../../src/javascript/test-framework/spy&apos;;
import BaseController from &apos;../../../../src/javascript/component/base/base-controller&apos;;
import BaseControllerView from &apos;../../../../src/javascript/component/base/base-controller-view&apos;;
import EventBus from &apos;../../../../src/coffeescript/event_bus.coffee&apos;;
import DOMUtil from &apos;../../../../src/javascript/test-framework/dom-util&apos;;

/**
 * @test {BaseController}
 */
describe(&apos;BaseController&apos;, () =&gt; {
  // Initialize the DOM
  jsdom();

  afterEach(() =&gt; {
    EventBus.clear();

    if (typeof BaseController.prototype._getViewInstance.restore === &apos;function&apos;) {
      BaseController.prototype._getViewInstance.restore();
    }
  });

  /**
   * Spies controller rendering logic
   * @param {Boolean} render
   * @param {Function} callback
   * @private
   */
  const mockCustomView = (render, callback) =&gt; {
    const spy = new Spy();
    const mock = spy.mock(new BaseControllerView());
    spy.intercept(BaseController.prototype, &apos;_getViewInstance&apos;, () =&gt; mock);
    const baseController = new BaseController({ render });
    callback(spy, baseController);
    spy.restore(mock);
  };

  it(&apos;A state id is generated&apos;, done =&gt; {
    mockCustomView(true, spy =&gt; {
      spy.intercept(Math, &apos;random&apos;, () =&gt; 0.1234);
      const baseController = new BaseController();
      assert.equal(Math.random.called, true);
      assert.equal(typeof baseController._stateId, &apos;string&apos;);
      assert.equal(baseController._stateId, &apos;BaseController0.1234&apos;);
      Math.random.restore();
      done();
    });
  });

  it(&apos;With a document window a store is initialized&apos;, done =&gt; {
    const baseController = new BaseController();
    assert.equal(typeof baseController._store, &apos;object&apos;);
    assert.equal(typeof baseController._store.subscribe, &apos;function&apos;);
    assert.equal(typeof baseController._store.getState, &apos;function&apos;);
    assert.equal(typeof baseController._store.replaceReducer, &apos;function&apos;);
    done();
  });

  it(&apos;renders a view on initialization&apos;, done =&gt; {
    mockCustomView(true, spy =&gt; {
      assert.equal(spy.get(&apos;render&apos;).count, 1);
      done();
    });
  });

  it(&apos;doesn\&apos;t render a view on initialize&apos;, done =&gt; {
    mockCustomView(false, spy =&gt; {
      assert.equal(spy.get(&apos;render&apos;), undefined);
      done();
    });
  });

  it(&apos;renders a view on demand&apos;, done =&gt; {
    mockCustomView(false, (spy, baseController) =&gt; {
      baseController.render();
      assert.equal(spy.get(&apos;render&apos;).count, 1);
      done();
    });
  });

  it(&apos;generates properly a view name based on controller\&apos;s class name&apos;, done =&gt; {
    const baseController = new BaseController({ render: false });
    assert.equal(baseController._getViewImportName(), &apos;base-controller-view&apos;);
    done();
  });

  it(&apos;has a view&apos;, () =&gt; {
    const baseController = new BaseController();
    const view = baseController.getView();
    assert.equal(typeof view, &apos;object&apos;);
  });

  it(&apos;renders emits a renderBaseController event&apos;, done =&gt; {
    EventBus.subscribe(&apos;renderBaseController&apos;, eventData =&gt; {
      assert.notEqual(typeof eventData, &apos;undefined&apos;);
      assert.equal(eventData.id, &apos;BaseController&apos;);
      done();
    });

    const baseController = new BaseController(); // eslint-disable-line no-unused-vars
  });

  it(&apos;State changes are propagated&apos;, () =&gt; {
    // Initialize the dom structure
    const div = document.createElement(&apos;div&apos;);
    div.id = &apos;button&apos;;
    document.getElementsByTagName(&apos;body&apos;)[0].appendChild(div);

    BaseControllerView.prototype.locators = {
      show: {
        id: &apos;#button&apos;,
        event: &apos;click&apos;
      }
    };

    const baseController = new BaseController();
    baseController._view._controller = baseController;
    DOMUtil.sendClickEvent(&apos;button&apos;);
    const state = baseController._store.getState();
    assert.equal(state[baseController._stateId].status, &apos;show&apos;);
  });
});</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.7)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
