{
  "presets": ["es2015", "flow", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-es2015-classes", { loose: true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
