<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../../">
  <title data-ice="title">strip-types/src/component/base/event-actions.js | Jobandtalent API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
<link data-ice="userStyle" rel="stylesheet" href="user/css/0-styles.css">
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  <a href="./manual/index.html" data-ice="manualHeaderLink">Manual</a>
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  <a href="test.html" data-ice="testLink">Test</a><a onclick="window.location = document.location.pathname.indexOf('nevada') > -1 ? './js-unit-tests.html' : '../js-unit-tests.html';" href="#">Unit tests</a>
  <a data-ice="repoURL" href="https://github.com/jobandtalent/nevada" class="repo-url-github">Repository</a>
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/clone-object.js~CloneObject.html">CloneObject</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/cookie-storage.js~CookieStorage.html">CookieStorage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/environment.js~Environment.html">Environment</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/module-naming.js~ModuleNaming.html">ModuleNaming</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-ERBTemplating">ERBTemplating</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/component/base</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/component/base/base-controller.js~BaseController.html">BaseController</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/component/base/base-view.js~BaseView.html">BaseView</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/component/base/event-actions.js~EventActions.html">EventActions</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-DocumentEvents">DocumentEvents</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-ElementEvents">ElementEvents</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/dom</div><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-$">$</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/test-framework</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-util.js~DOMUtil.html">DOMUtil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/inject.js~Inject.html">Inject</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/mock.js~Mock.html">Mock</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/modulejs.js~ModuleJS.html">ModuleJS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/proxy-spy-handler.js~ProxySpyHandler.html">ProxySpyHandler</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/spy.js~Spy.html">Spy</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">src/test-framework/dom-mutation</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/factory.js~DOMMutationFactory.html">DOMMutationFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/mutation-base.js~DOMMutationBase.html">DOMMutationBase</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/mutation-events.js~DOMMutationEvents.html">DOMMutationEvents</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/strip-types/src/test-framework/dom-mutation/mutation-observer.js~DOMMutationObserver.html">DOMMutationObserver</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">strip-types/src/component/base/event-actions.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">
/* global EventListener */
&apos;use strict&apos;;

import BaseView from &apos;./base-view&apos;;
import { ElementEvents, DocumentEvents } from &apos;./event&apos;;

/**
 * In charge of extending view objects with dynamic event handlers.
 * @module EventActions
 */
class EventActions {

  /**
   * @constructor
   */
  constructor() {
    this._eventListenerPrefix = &apos;on&apos;;
    this._eventMap = new Map();
  }

  /**
   * @param {BaseView} target
   * @method augment
   * @public
   */
  augment(target) {
    if (typeof document !== &apos;undefined&apos;) {
      const attachCallback = options =&gt; {
        // $FlowFixMe: Property not found
        this._attachEventListener(options.element, options.eventName, event =&gt; {
          options.eventHandler(event);
          target._notifyParentOfStateChange(options.locatorName);
          if (options.preventDefault) {
            /* eslint-disable no-unused-expressions, no-param-reassign */
            event.preventDefault ? event.preventDefault() : event.returnValue = false;
            /* eslint-enable no-unused-expressions, no-param-reassign */
          }
        });
      };

      this._genericEventProcess(target, attachCallback);
    }
  }

  /**
   * @param {BaseView} target
   * @method clear
   * @public
   */
  clear(target) {
    const detachCallback = options =&gt; {
      this._detachEventListener(options.element, options.eventName, options.eventHandler);
    };

    this._genericEventProcess(target, detachCallback);
  }

  /**
   * @param {BaseView} target
   * @param {Function} callback
   * @method _genericEventProcess
   * @private
   */
  _genericEventProcess(target, callback) {
    this._augmentTargetBasedOnEventTypes(target, ElementEvents, target.locators, callback);
    this._augmentTargetBasedOnEventTypes(target, DocumentEvents, { Document: document }, callback);
  }

  /**
   * @method _augmentTargetBasedOnEventTypes
   * @private
   */
  _augmentTargetBasedOnEventTypes(target, events, locators, callback) {
    for (let i = 0; i &lt; events.length; i++) {
      const eventName = events[i];
      for (const locatorName in locators) {
        // eslint-disable-line guard-for-in
        const locator = locators[locatorName];
        const locatorAsString = this._getLocatorString(locator);
        let eventListenerName = this._getEventListenerName(eventName, locatorName);
        let element;
        if (locator === document) {
          element = document;
          eventListenerName = eventListenerName.replace(&apos;Document&apos;, &apos;&apos;);
        } else {
          // TODO: Replace this by the proper DOM access polyfill
          element = document.querySelector(locatorAsString);
        }

        let preventDefault = true;
        if (locator !== null &amp;&amp; typeof locator === &apos;object&apos; &amp;&amp; typeof locator.__set__ === &apos;undefined&apos;) {
          // Views can avoid having to define the listeners methods by using object locators,
          // that way we support passing simple state changes view -&gt; controller -&gt; dispatcher -&gt; view
          /* eslint-disable no-param-reassign */
          if (typeof locator.handler === &apos;function&apos;) {
            // $FlowFixMe: Review Indexable property not found
            target[eventListenerName] = locator.handler;
          } else {
            // Empty event handler for simple message passing
            // $FlowFixMe: Review Indexable property not found
            target[eventListenerName] = () =&gt; {};
          }
          /* eslint-enable no-param-reassign */

          locator.__set__ = true;
          preventDefault = locator.preventDefault || true;
        }

        // $FlowFixMe: Indexable signature not found
        if (typeof target[eventListenerName] === &apos;function&apos;) {
          callback({
            element,
            eventName,
            eventListenerName,
            eventHandler: target[eventListenerName].bind(target),
            locatorName,
            preventDefault
          });
        }
      }
    }
  }

  /**
   * @param {Object|string} locator
   * @returns {String}
   * @method _getLocatorString
   */
  _getLocatorString(locator) {
    return typeof locator === &apos;object&apos; &amp;&amp; locator !== null ? locator.id : locator;
  }

  /**
   * @method _getEventListenerName
   * @returns {String}
   * @private
   */
  _getEventListenerName(eventName, locator) {
    const upperFirstChar = str =&gt; `${ str[0].toUpperCase() }${ str.substring(1) }`;

    let eventListenerName = this._eventListenerPrefix;
    eventListenerName += upperFirstChar(locator);
    eventListenerName += upperFirstChar(eventName);
    return eventListenerName;
  }

  /**
   * @method _attachEventListener
   * @param {Node} element
   * @param {String} eventName
   * @param {Function} callback
   * @private
   */
  _attachEventListener(element, eventName, callback) {
    if (element !== null) {
      element.addEventListener(eventName, callback, false);
      this._eventMap.set(eventName, callback);
    }
  }

  /**
   * @method _detachEventListener
   * @param {Node} element
   * @param {String} eventName
   * @param {Function} callback
   * @private
   */
  _detachEventListener(element, eventName) {
    const eventHandler = this._eventMap.get(eventName);
    if (element !== null &amp;&amp; typeof eventHandler !== &apos;undefined&apos;) {
      element.removeEventListener(eventName, eventHandler, false);
      this._eventMap.delete(eventName);
    }
  }

}

export default EventActions;</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.7)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
